<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>CISepiaTone</string>
	<string>CIPhotoEffectMono</string>
	<string>CIPhotoEffectNoir</string>
	<string>CIPhotoEffectProcess</string>
	<string>CIPhotoEffectTonal</string>
	<string>CIPhotoEffectTransfer</string>
	<string>CIColorPosterize</string>
	<string>GPUImagePixellateFilter</string>
	<string>GPUImageSmoothToonFilter</string>
	<string>GPUImageSwirlFilter</string>
</array>
</plist>
