<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Sepia</string>
	<string>Mono Grey</string>
	<string>Noir</string>
	<string>Cool Vintage</string>
	<string>Tonal</string>
	<string>Warm Vintage</string>
	<string>Poster</string>
	<string>Pixellate</string>
	<string>Toons</string>
	<string>Swirl</string>
	<string>Blur</string>
	<string>Polka Dot</string>
</array>
</plist>
