<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>squared</string>
	<string>sepia</string>
	<string>coolness</string>
	<string>warmness</string>
	<string>tonal</string>
	<string>grayness</string>
	<string>noir</string>
	<string>toonify</string>
	<string>swirl</string>
	<string>blur</string>
	<string>cotton candy</string>
	<string>lime</string>
	<string>blue</string>
	<string>sunset</string>
	<string>ocean</string>
	<string>red velvet</string>
	<string>desert</string>
</array>
</plist>
